/* Styles CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Arrière-plan général de la page */
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
/* Styles CSS pour la navbar */
.navbar {
    background: #333;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 60px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
}

/* Style pour le logo */
.logo {
    max-width: 100%;
    height: auto;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-item {
    height: 80px;
    position: relative; /* Ajoutez cette ligne pour la position relative */
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-link:hover {
    background-color: #555;
    transition: all 0.3s ease;
}

/* Styles pour le sous-menu (dropdown) */
.dropdown {
    height: 80px;
    position: relative;
}

/* Style pour le bouton du sous-menu */
.dropdown .dropbtn {
    height: 80px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style pour les éléments du sous-menu */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #101a2400;
    height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0; /* Alignez le sous-menu à gauche */
    top: 100%; /* Placez le sous-menu en dessous de l'élément parent */
}

/* Style pour les éléments du sous-menu au survol */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;

.dropdown-content :hover {
    background-color: #0056b3;
}
/* Style pour les éléments du sous-menu au survol */
.dropdown-content a:hover {
    background-color: #ddd;
    color: rgba(0, 0, 0, 0);
}

/* Afficher le sous-menu au survol */
.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    width: 80%;
    margin: auto;
    background: white; /* Arrière-plan pour la zone de contenu principale */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.model {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    background: #fff; /* Arrière-plan pour chaque modèle de voiture */
}


/* S/* Style général des boutons */
button {
    background-color: #007bff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Remplissage autour du texte */
    border: none; /* Aucune bordure */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer; /* Curseur en forme de main au survol */
    font-size: 1rem; /* Taille du texte */
    font-weight: bold; /* Poids du texte */
    transition: background-color 0.3s ease; /* Transition pour l'effet au survol */
}

/* Effet au survol des boutons */
button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}


/* Boutons désactivés */
button:disabled {
    background-color: #cccccc; /* Couleur de fond pour les boutons désactivés */
    cursor: not-allowed; /* Curseur indiquant qu'une action est interdite */
}

/* Style spécifique pour les boutons de personnalisation */
button.personnaliser-btn {
    background-color: #28a745; /* Vert pour les actions de personnalisation */
}

button.personnaliser-btn:hover {
    background-color: #218838; /* Un vert plus foncé au survol */
}
/*tyles CSS */
/* ... autres styles ... */

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .model {
      /* styles existants... */
      animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  
  #raudiR1 {
      animation-delay: 0.5s;
  }
  
  #raudiR2 {
      animation-delay: 1s;
  }
  
  #raudiFamille {
      animation-delay: 1.5s;
  }
  .model-thumbnail {
    width: 100%; /* ou une largeur fixe, selon votre mise en page */
    height: auto;
    border-radius: 5px; /* pour des coins arrondis */
    margin-bottom: 15px; /* espace entre l'image et le texte */
}
@media (max-width: 768px) {
    .model-thumbnail {
        width: 100%; /* images pleine largeur sur petits écrans */
    }
}
  

.model:hover {
    background-color: #f4f4f4;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.close-popup-btn {
    background-color: #ccc;
    color: #333;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.close-popup-btn:hover {
    background-color: #555;
    color: #fff;
}

/* Style uniquement pour le lien <a> dans l'article avec l'ID "raudiR1" */
#raudiR1 a {
    /* Vos styles CSS spécifiques ici */
    text-decoration: none; /* Supprime la décoration du lien (soulignement par défaut) */
    color: #007bff; /* Couleur du texte au repos */
    transition: color 0.3s ease; /* Transition pour l'effet au survol */

    /* Ajoutez d'autres styles personnalisés si nécessaire */
}

/* Effet au survol du lien <a> dans l'article avec l'ID "raudiR1" */
#raudiR1 a:hover {
    color: #0056b3; /* Couleur du texte au survol */
    /* Ajoutez d'autres styles au survol si nécessaire */
}

 .listmodelR1 a {/* Vos styles CSS spécifiques ici */
 text-decoration: none; /* Supprime la décoration du lien (soulignement par défaut) */
 color: #f0f0f0; /* Couleur du texte au repos */
 transition: color 0.3s ease; /* Transition pour l'effet au survol */

 /* Ajoutez d'autres styles personnalisés si nécessaire */
}

.listemodelR1 a:hover {
    color: #ffffff; /* Couleur du texte au survol */
    /* Ajoutez d'autres styles au survol si nécessaire */
}

.listmodelR2 a {/* Vos styles CSS spécifiques ici */
    text-decoration: none; /* Supprime la décoration du lien (soulignement par défaut) */
    color: #fefefe; /* Couleur du texte au repos */
    transition: color 0.3s ease; /* Transition pour l'effet au survol */
   
    /* Ajoutez d'autres styles personnalisés si nécessaire */
   }

   .listemodelR2 a:hover {
    color: #0056b3; /* Couleur du texte au survol */
    /* Ajoutez d'autres styles au survol si nécessaire */
}

   .listmodelFamille a {/* Vos styles CSS spécifiques ici */
    text-decoration: none; /* Supprime la décoration du lien (soulignement par défaut) */
    color: #ffffff; /* Couleur du texte au repos */
    transition: color 0.3s ease; /* Transition pour l'effet au survol */
   
    /* Ajoutez d'autres styles personnalisés si nécessaire */
   }

   .listemodelFamille a:hover {
    color: #0056b3; /* Couleur du texte au survol */
    /* Ajoutez d'autres styles au survol si nécessaire */
}

.btnlistmodelR1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte */
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
.btnlistmodelR1:hover {
    background-color: #2980b9; /* Couleur de fond au survol */
}
}